{% extends 'base.html.twig' %}

{% block title %}Admin dashboard{% endblock %}

{% block h1 %}Tableau de bord{% endblock %}

{% block body %}
    <div class="card-deck">
        <div class="col-4 my-2">
            <div class="card">
                <div class="card-header">CLIENTS</div>
                <div class="card-body">Nombre de clients : {{ clients|length }}</div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-4 my-2">
            <div class="card">
                <div class="card-header">PRODUITS</div>
                <div class="card-body">
                    <p>Nombre de produits : {{ produits|length }}</p>
                    <p>Le plus commandé : {{ produitFavori.titre }} - réf: {{ produitFavori.reference }}</p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-4 my-2">
            <div class="card">
                <div class="card-header">COMMANDES</div>
                <div class="card-body">Nombre de commandes : {{ commandes|length }}</div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}
